body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li { cursor: pointer; }

.img_logo_login {
  width: 30px;
  height: 30px;
}

.background-login {
  background-image: url('./login.jpg'); /* Relative path from the CSS file */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.hidden-component {
  display: none;
}

.chart-div {
  overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border: 1px solid lightgrey;
  max-width: 250px;
  min-width: 100px;
  text-transform: uppercase;
  text-align: center;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

HeaderBack {
  padding-top: 25px;
}

.borderless td, .borderless th {
  border: none;
}

.noBorder {
  border:none !important;
}
